body {
	margin: 0;
}

div {
	display: block;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.home-wrap {
	margin: 0;
	padding: 0;
}

.m-site-top {
	color: #e7e7e7;
	height: 48px;
	background: #333;
	font-size: 14px;
	position: relative;
	margin: 0;
}

.container {
	height: auto;
	width: 1080px;
	margin: 0 auto;
}

.fr {
	float: right;
}

.m-site-top .site-item {
	position: relative;
	margin-left: 5px;
	text-align: center;
}

.fl {
	float: left;
}

.m-site-top .m-no-login {
	margin-right: 8px;
	height: 48px;
	line-height: 48px;
}

.m-site-top .m-no-login a {
	margin-left: 8px;
	color: #e7e7e7;
}

.m-site-top a {
	color: #e7e7e7;
}

a {
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.m-site-top .m-line {
	border-color: #666;
	margin: 17px 3px 0 6px;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	border-right: 1px solid #e7e7e7;
}

.m-site-top .m-help {
	position: relative;
	text-align: center;
	height: 48px;
	line-height: 48px;
	margin-right: 8px;
	margin-left: 11px;
}

.m-site-top .m-download .h-icon-con {
	text-align: left;
	left: 0;
	padding-left: 30px;
}

.m-site-top .h-icon-con {
	display: block;
	height: 48px;
	line-height: 48px;
	overflow: hidden;
}

.h-icon-con {
	margin-right: 5px;
	position: relative;
}

.m-site-top .h-app-icon {
	left: 0;
	top: 9px;
}

.h-icons {
	position: absolute;
}

.m-icons-app {
	width: 30px;
	height: 30px;
	background-position: 0 -1016px;
}

.m-icons {
	display: inline-block;
	background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons.2bf57ccf.png);
}

element.style {}

.m-site-top .h-app-icon {
	left: 0;
	top: 9px;
}

.h-icons {
	position: absolute;
}

.m-icons-app {
	width: 30px;
	height: 30px;
	background-position: 0 -1016px;
}

.m-icons {
	display: inline-block;
	background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/yp-icons.2bf57ccf.png);
}

.m-site-top .m-download .h-icon-con {
	text-align: left;
}

.m-site-top .h-icon-con {
	line-height: 48px;
}

.m-site-top .m-clauses-con {
	position: relative;
	text-align: center;
	padding-right: 40px;
	padding-left: 11px;
}

.m-site-top .m-clauses-con .m-clauses {
	height: 48px;
	line-height: 48px;
	text-align: center;
}

.m-site-top .m-clauses-con .h-down-icon {
	right: 10px;
}

.m-site-top .h-down-icon {
	top: 10px;
}

.m-icons-dropdown {
	width: 30px;
	height: 30px;
	background-position: 0 -1662px;
}

.m-header {
	position: relative;
	height: 51px;
	padding-top: 20px;
	margin-bottom: 5px;
	background-color: #fff;
}

.m-header-top {
	height: 51px;
	position: relative;
	padding-right: 40px;
}

.m-log {
	float: left;
	width: 123px;
	height: 51px;
	background: url(../img/logo.png) 50% no-repeat;
	background-size: 100%;
	cursor: pointer;
}

li,
ol,
ul {
	list-style: none;
}

.tab-list {
	margin: 0;
	padding-left: 140px;
	float: left;
	width: 420px;
	overflow: hidden;
}

.tab-item {
	float: left;
	margin-right: 32px;
	height: 51px;
	line-height: 57px;
	font-size: 18px;
	color: #666;
}

.m-search {
	float: right;
	width: 296px;
}

.search-form {
	position: relative;
	width: 246px;
	padding-left: 35px;
	padding-top: 9px;
	height: 32px;
	border-bottom: 1px solid #e7e7e7;
}

.search-logo {
	float: left;
	width: 30px;
	height: 30px;
	background-image: url(../img/search.jpg);
	background-size: 100%;
}

.search-input {
	float: left;
	width: 216px;
	height: 32px;
	line-height: 32px;
}

.search-input input {
	outline: medium;
	width: 100%;
	border: none;
	color: #333;
	font-size: 14px;
}

.banner-nav {
	width: 1080px;
	margin: 0 auto;
	height: 358px;
}

.nav-container {
	position: relative;
	height: 338px;
	background-color: #845f3f;
	padding: 10px 0;
	width: 221px;
	float: left;
}

.nav-list {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-item {
	width: 165px;
	padding: 0 30px;
	height: 37px;
	line-height: 37px;
	color: #fff;
	font-size: 14px;
	transition: all .2s ease;
	text-align: left;
	overflow: hidden;
	padding: 0 30px;
}

.nav-list li {
	float: left;
	cursor: pointer;
}

.banner-box {
	float: left;
	background-image: url(../img/box.jpg);
	background-size: 100%;
	width: 859px;
	height: 358px;
}

.hero-wrap .container {
	padding-top: 30px;
	height: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(231, 231, 231);
}

.hero-wrap .hero-nav {
	height: 148px;
	overflow: hidden;
	padding-bottom: 10px;
	margin: 0;
	padding-left: 0;
}

.hero-wrap .hero-nav li {
	float: left;
	width: 130px;
	margin-right: 107px;
	cursor: pointer;
}

.hero-wrap-image {
	width: 130px;
	height: 120px;
}

.image-container {
	padding: 25px 25px 15px;
}

.hero-wrap .hero-nav li .title {
	font-size: 14px;
	margin: 4px 0 0 0;
	width: 130px;
	text-align: center;
	color: #999;
}

.h-crowdfounding {
	height: 305.8px;
	margin-top: 35px;
}

.h-sec-top {
	position: relative;
	height: 36.8px;
	z-index: 99;
	margin-bottom: 20px;
}

.h-sec-top .h-subtit {
	color: #333;
	font-size: 28px;
	font-weight: 400;
}

.h-sec-top .h-subtit span {
	margin-left: 12px;
	font-size: 14px;
	color: #999;
}

.h-sec-top .h-more {
	position: absolute;
	right: 0;
	top: 6px;
	height: 30px;
	color: #999;
	cursor: pointer;
	padding-top: 15px;
}

.h-sec-top .h-more span {
	position: relative;
	bottom: 9px;
	font-size: 14px;
}

.home-good-item1 {
	float: left;
	background-image: url(../img/yanjing.png);
	background-size: 100%;
	width: 537px;
	height: 245px;
}

.home-good-item2 {
	float: left;
	background-image: url(../img/xichenqi.png);
	background-size: 100%;
	width: 266px;
	height: 245px;
	margin-left: 5px;
}

.home-good-item3 {
	float: left;
	background-image: url(../img/heitouyi.png);
	background-size: 100%;
	width: 266px;
	height: 245px;
	margin-left: 5px;
}

.p-trap-wrap {
	height: 410.8px;
	padding-top: 40px;
}

.trap-top-main {
	float: left;
}

.swiper-container {
	margin: 0 auto;
	height: 354px;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	box-sizing: content-box;
}

.swiper-slide {
	float: left;
	width: 266.25px;
	margin-right: 5px;
	flex-shrink: 0;
	height: 100%;
	position: relative;
}

.m-good-item-container:hover {
	transform: translate3d(0, -2px, 0);
	box-shadow: 2px 5px 10px #F0F0F0;
	transition-duration: 100ms;
}

.m-good-item-container {
	position: relative;
	float: left;
	width: 266px;
	text-align: center;
	background: #fff;
	transition: all .4s;
	cursor: pointer;
}

.slide-image {
	width: 266px;
	height: 266px;
}

.slide-image img {
	width: 266px;
	height: 266px;
}

.bigtrap-box {
	background: #faf6ef;
	padding-top: 13px;
	padding-bottom: 15px;
}

.pro-info {
	color: #333;
	font-size: 19px;
	line-height: 23px;
	height: 23px;
	margin-top: 0;
}

.pro-price {
	margin-top: 11px;
	margin-bottom: 0;
	height: 26px;
	line-height: 26px;
	color: #a92112;
}

.m-good-item-container .pro-unit {
	font-size: 15px;
}

.m-good-item-container .m-num {
	font-size: 22px;
}

.m-good-item-container .pro-desc {
	color: #666;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	margin-top: 8px;
}

.pro-flag {
	font-size: 12px;
}

.m-good-item-container .market-price {
	text-decoration: line-through;
	color: #333;
	margin-left: 5px;
}

.m-good-item-container .market-price .pro-unit {
	font-size: 9px;
}

.m-good-item-container .market-price .m-num {
	font-size: 14px;
}

.m-sec-main {
	height: 375px;
}

.m-good-item-container .m-goods-common-box {
	padding-top: 13px;
	padding-bottom: 10px;
}

.h-section {
	height: 431.8px;
	margin-top: 60px;
	padding-bottom: 28px;
}

.h-tuijian {
	height: 800px;
	margin-top: 50px;
}

.pro-item-category {
	width: 264px;
	padding-bottom: 0;
	margin-bottom: 5px;
	border: 1px solid #e7e7e7;
	background: none;
}

.category-img-container {
	height: auto;
	width: 100%;
}

.product-img {
	width: 100%;
	height: 198px;
	overflow: hidden;
}

.m-product-image-container {
	width: 264px;
	height: 198px;
	overflow: hidden;
}

.m-product-image-container .img-container {
	padding: 45px 70px 28px;
	width: 124px;
	height: 125px;
	overflow: hidden;
	display: inline-block;
}

.m-product-image-container .img-container img {
	height: 125px;
	width: 125px;
	margin-left: -0.5px;
}

.category-img-container .pro-desc {
	color: #845f3f;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	margin: 0;
}

.category-box {
	margin: 0;
	margin-top: 18px;
	padding: 13px 0 10px;
	background: #f8f8f8;
}

.m-goods-common-tag-con {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	overflow: hidden;
}

.category-box .pro-info {
	color: #333;
	margin-top: 10px;
	font-size: 18px;
	line-height: 22px;
	height: 22px;
}

.category-box .pro-price {
	margin-top: 11px;
	margin-bottom: 0;
	height: 22px;
	line-height: 22px;
	color: #a92112;
}

.category-box .pro-price .pro-unit {
	margin-right: 5px;
	font-size: 13px;
}

.category-box .pro-price .m-num {
	font-size: 20px;
}

.category-box .pro-price .pro-flag {
	font-size: 12px;
}

.m-footer {
	margin-top: 60px;
	padding: 45px 0;
	height: 45px;
	line-height: 23px;
	border-top: 1px solid #e7e7e7;
	background-color: #fff;
	color: #666;
}

.m-footer .m-f-logo img {
	width: 123px;
	height: 45px;
	margin-right: 25px;
	vertical-align: middle;
	border: none;
}

.m-footer .f-icons {
	position: absolute;
	top: 4px;
	right: 0;
	padding-left: 14px;
}

.m-footer .f-info {
	position: relative;
	padding-right: 138px;
	font-size: 12px;
}

.m-footer .f-icons img {
	width: 100px;
}

.footer-item {
	margin: 0;
}

.m-footer .footer-item span {
	margin-right: 5px;
}

.m-footer .footer-item a {
	margin-right: 8px;
	color: #666;
}

.m-secondary-navigator {
	padding: 30px 0 15px 0;
	width: 100%;
	display: block;
	float: none;
	background: transparent repeat 0 0 none;
	font-size: 13px;
}

.c-goodlist {
	background: #f2f2f2;
	padding-bottom: 80px;
}

.m-secondary-navigator span a {
	margin: 0 6px;
	cursor: pointer;
	color: #000;
}

.m-secondary-navigator span:last-child a {
	color: #999;
	cursor: default;
}

.typeGoods-item {
	padding-top: 20px;
	margin-bottom: 20px;
}

.typeGoods-item h2 {
	margin: 0;
	padding-bottom: 13px;
	font-weight: 400;
	font-size: 24px;
	color: #333;
}

.m-product-list {
	height: 888px;
}

.m-product-list .pro-item.first {
	margin-left: 0;
}

.m-product-list .pro-item {
	position: relative;
	float: left;
	width: 266px;
	padding-bottom: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	text-align: center;
	background: #fff;
}

.m-product-list .pro-img {
	display: block;
	width: 100%;
	height: 195px;
	text-align: center;
	background: #fff;
	overflow: hidden;
}

.m-product-list .pro-img img {
	width: 195px;
	height: auto;
}

.pro-inf {
	margin: 10px 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 26px;
	line-height: 26px;
	margin-top: 10px;
	color: #333;
	font-size: 16px;
}

.pro-des {
	margin: 0;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #999;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.pro-pric {
	margin: 0;
	color: #a92112;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}

.pro-pric .pro-unit {
	font-size: 12px;
}

.pro-item:hover {
	transform: translate3d(0, -2px, 0);
	box-shadow: 2px 5px 10px #F0F0F0;
	transition-duration: 100ms;
}

.detail {
	min-height: 285px;
	padding-top: 60px;
	padding-bottom: 100px;
	overflow: hidden;
	border-top: 1px solid #e7e7e7;
}

.detail .container {
	min-height: inherit;
	position: relative;
}

.header {
	height: 403px;
	margin-bottom: 67px;
}

.banner {
	margin-right: 46px;
	width: 465px;
	height: 374px;
	float: left;
}

.banner .main {
	width: 372px;
	height: 372px;
	background-color: #f4f4f4;
	border: 1px solid #ececec;
	position: relative;
}

.banner .main img {
	width: 100%;
	height: 100%;
}

.banner .thumb {
	width: 85px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.banner .thumb .thumb-container {
	position: absolute;
	left: 0;
}

.banner .thumb .thumb-container .thumb-pic {
	width: 83px;
	height: 83px;
	margin-bottom: 11px;
	border-width: 1px;
	border-style: solid;
	background-color: #f4f4f4;
}

.banner .thumb .thumb-container .thumb-pic img {
	width: 100%;
	height: 100%;
}

.sku-container {
	width: 561px;
	float: left;
}

.sku-container .name {
	height: 25.6px;
	margin-bottom: 4px;
}

.sku-container .name .good-name {
	vertical-align: middle;
	line-height: 26px;
	font-size: 20px;
	color: #333;
	float: left;
}

.sku-container .summary {
	width: 84%;
	line-height: 18px;
	font-size: 12px;
	color: #999;
}

.sku-container .summary .words {
	cursor: pointer;
	text-decoration: underline;
	color: #c00000;
	margin-right: 3px;
}

.sku-container .card {
	height: 97px;
	margin-bottom: 26px;
	margin-top: 18px;
	padding: 10px;
	background-color: #f9f9f9;
}

.sku-container .card .price-line {
	margin-top: 12px;
	margin-bottom: 12px;
	height: 37px;
	overflow: hidden;
	vertical-align: bottom;
	line-height: 40px;
	font-size: 30px;
}

.sku-container .sku-title {
	margin: 0 10px 0 0;
	width: 48px;
	float: left;
	font-size: 12px;
	font-weight: 400;
	line-height: 32px;
	vertical-align: bottom;
}

.sku-container .card .price-line .price {
	color: #c00000;
	line-height: 30px;
	overflow: hidden;
}

.sku-container .card .price-line .price .money-symbol {
	margin-right: 3px;
	font-size: 14px;
	vertical-align: 0;
}

.sku-container .card .price-line .price .value {
	font-size: 30px;
	vertical-align: 0;
}

.sku-container .card .service-line {
	margin-bottom: 12px;
	vertical-align: bottom;
	line-height: 24px;
	font-size: 24px;
}

.sku-container .card .service-line .introduce-container {
	position: relative;
	overflow: visible;
	margin-left: -30px;
	cursor: pointer;
}

.sku-container .card .service-line .introduce-container .icon {
	float: left;
	box-sizing: border-box;
	margin-top: 9px;
	border: 1px solid #c00000;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	font-size: 10px;
	color: #c00000;
	margin-left: -30px;
	cursor: pointer;
}

.sku-container .card .service-line .service .service-item {
	float: left;
	overflow: hidden;
	min-height: 24px;
	margin-right: 13px;
	line-height: 24px;
	font-size: 16px;
}

.sku-container .card .service-line .service .service-item .service-item-text {
	margin-left: 8px;
	line-height: 16px;
	vertical-align: middle;
}

.sku-container .address-line {
	overflow: hidden;
	padding: 0 10px 26px;
}

.sku-container .address-line .address {
	font-size: 14px;
	float: left;
	line-height: 14px;
	margin-right: 10px;
	font-weight: 400;
}

.sku-container .address-line .address a {
	margin-left: 10px;
	color: #666;
}

.sku-container .count-line {
	overflow: hidden;
	margin-bottom: 40px;
	height: 32px;
}

.sku-container .count-line .count-title {
	width: 48px;
	float: left;
	line-height: 32px;
	margin: 0 10px;
	font-size: 12px;
	font-weight: 400;
	vertical-align: bottom;
}

.sku-container .btn-line {
	height: 52px;
	position: relative;
}

.buy-btn-container a {
	margin-right: 15px;
	color: #fff;
	background-color: #845f3f;
	border-color: #845f3f;
	min-width: 167px;
	height: 52px;
	line-height: 50px;
	font-size: 20px;
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	border: 1px solid #666;
	padding: 0 6px;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.buy-btn-container {
	padding-left: 40px;
}

.info {
	width: 774px;
}

.nav-title {
	width: 774px;
	background-color: #e7e7e7;
}

.nav-title .info-nav {
	margin: 0;
	height: 13px;
	padding: 16px 0 13px;
}

.nav-title .info-nav-item {
	float: left;
	height: 13px;
	width: 128px;
	border-right-width: 1px;
	border-right-style: solid;
	line-height: 13px;
	font-size: 13px;
	text-align: center;
}

.main-body {
	min-height: 900px;
}

.best {
	float: right;
	width: 262px;
}

.recommend-title {
	text-align: center;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	height: 42px;
	line-height: 42px;
	margin-bottom: 17px;
}

.recommend-title .special-line {
	margin: 0 12px;
	display: inline-block;
	width: 16px;
	border-top: 1px solid #333;
	height: 21px;
	vertical-align: bottom;
}

.best-product {
	border: 1px solid #f4f4f4;
	margin-bottom: 5px;
	transition: all .4s;
	overflow: hidden;
}

.best-product .image-container {
	padding: 0;
	width: 260px;
	height: 197px;
	text-align: center;
	background-color: #fff;
}

.m-product-image-container {
	width: 260px;
	height: 197px;
}

.best-product p {
	margin: 0 0 10px;
	width: 230px;
	height: 38px;
	line-height: 38px;
	color: #845f3f;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
}

.best-product h5 {
	height: 30px;
	line-height: 34px;
	color: #333;
	font-weight: 400;
	background-color: #f4f4f4;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	text-align: center;
	margin: 0;
}

.best-product h4 {
	height: 24px;
	line-height: 20px;
	color: #c33300;
	text-align: center;
	font-weight: 400;
	background-color: #f4f4f4;
	margin: 0;
}

.best-product h4 .dollar {
	font-size: 12px;
	vertical-align: top;
}

.best-product h4 .price {
	font-size: 16px;
}

.best-product:hover {
	cursor: pointer;
	transform: translate3d(0, -2px, 0);
	box-shadow: 2px 5px 10px #F0F0F0;
	transition-duration: 100ms;
}